/* Common styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* Header styles */

.header {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(19, 4, 104);
    color: #ffffff;
}

.header h1 {
    text-align: center;
    padding: 1% 0;
    background-color: rgb(12, 94, 94);
    font-size: 48px;
}

.header h1 .b {
    color: #bec4b9;
}

.nav {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 25px;
}

.header img {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    border: 5px solid;
}


/* Footer styles */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}