/* Common styles */

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 13%, 81%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    margin: 0;
}


/* Header styles */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(19, 4, 104);
    color: #ffffff;
}

.header h1 {
    padding: 10px 20px 10px 70px;
    background-color: rgb(12, 94, 94);
    font-size: 50px;
}

.header li {
    display: inline;
    font-size: 20px;
    padding: 1px 5px;
    margin: 20px;
    border-bottom: solid 3px #82cde8;
}

.header h1 .b {
    color: #bec4b9;
}


/* My main styles */

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.subtitle {
    position: relative;
    background-image: url("../img/background.png");
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

figure h2 {
    display: block;
    background-color: rgb(12, 94, 94);
    color: #bec4b9;
    font-size: 25px;
    position: absolute;
    bottom: 15px;
    right: 60px;
    padding: 10px;
}

.about-me {
    display: flex;
    margin: 25px 0;
    padding: 10px 0;
    color: #2c3d43;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.about-me>h2 {
    border-right: solid 4px #82cde8;
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 30px;
    line-height: 1.1;
    color: #2c3d43;
}

.about-me>div {
    flex: 0 0 77%;
}

.box-container {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-container>h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #82cde8;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.1;
    color: #2c3d43;
}

.box-container>div {
    flex: 0 0 77%;
}

.about-me p {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 5px solid #82cde8;
    color: #ffffff;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 10px);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 5px;
    background-size: 150%;
    font-size: 20px;
}

.surf-report {
    min-height: 400px;
    flex-basis: 100%;
    background-image: url(../img/project-2.jpeg);
    background-position: center;
    background-size: cover;
}

.react-calc {
    background-image: url(../img/project-1.png);
    background-position: center;
    background-size: cover;
}

.run-buddy {
    background-image: url(../img/code-quiz-img.png);
    background-position: center;
    background-size: cover;
}

.led-wall {
    background-image: url(../img/weather-dashboard.png);
    background-position: center;
    background-size: cover;
}

.pastel-puzzles {
    background-image: url(../img/password-generator.png);
    background-position: center;
    background-size: cover;
    color: #2c3d43;
}

.card:hover {
    background-color: rgb(200, 200, 200);
}

.card h3 {
    font-size: 18px;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2c3d43;
}

.contact-me>h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #82cde8;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.1;
    color: #2c3d43;
}

.contact-me a {
    font-size: 16px;
    padding: 1px 5px;
    border-bottom: solid 3px #2c3d43;
    color: #2c3d43;
    margin: 30px 50px 0 50px;
}

.contact-me>div {
    text-align: center;
    padding-right: 15%;
}


/* Footer styles */

.footer {
    padding: 10px;
    text-align: center;
    border: solid 3px #82cde8;
    width: 100%;
    color: #2c3d43;
}


/* My Media Query */

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }
    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }
    header nav {
        justify-content: center;
    }
    .about-me>h2,
    .about-me>div {
        flex: 0 0 100%;
    }
    .about-me>h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .card,
    .card:first-child {
        flex-basis: 100%;
    }
    .card:first-child {
        min-height: 150px;
    }
    .subtitle {
        justify-content: center;
        text-align: center;
    }
    .contact-me div {
        flex-direction: column;
        align-items: flex-start;
    }
}